/*reset*/
* {margin: 0;padding: 0;box-sizing: border-box;}
ul,dl {list-style: none;}
a {text-decoration: none;color: inherit;}
img {max-width: 100%;}
/*summary*/
section.summary {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
section.summary h1 {
	font-size: 32px;
}
section.summary .avator {
	width: 128px;
	height: 128px;
	border-radius: 64px;
	margin-bottom: 2vh;
}
section.summary .txt {
	line-height: 1.5;
	text-align: center;
}
/*works*/
section.works {
	background: #f4f4f4;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
section.works img {
	max-width: 200px;
}
section.works > ul {
	display: flex;
	max-width: 700px;
	flex-wrap: wrap;
	justify-content: space-around;
}
section.works > ul a {
	display: block;
}
section.works .wraper {
	padding: 10px 10px 3px;
    background: #fff;
    text-align: right;
}
section.works h2,
section.contacts h2,
section.skills h2
 {
	margin-bottom: 1em;
}
section.works p {
	margin: 10px;
}

/*skills*/
section.skills {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
section.skills dl {
	line-height: 1.5;
}
/*contacts*/
section.contacts {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #f4f4f4;
}
section.contacts > dl {
	display: flex;
	width: 15em;
	flex-wrap: wrap;
}
section.contacts > dl > dt {
	width: 3em;
}
section.contacts > dl > dd {
	width: 12em;
}
@media only screen and (max-width: 675px){
	section.works img {
		max-width: 160px;
	}
}
@media only screen and (max-width: 574px){
	section.works img {
		max-width: 150px;
	}
}
@media only screen and (max-width: 455px){
	section.works h2 {
		margin-bottom: .5em;
	}
	section.works img {
		max-width: 128px;
	}
}
